@import './fonts.scss';

$rm-black: #0d0d0d;
$rm-primary: #208d45;
$rm-secondary: #a7cb54;
$rm-white:#f0f2eb;


$font-text: 'Nunito';
$font-title: 'Get Schwifty';
// #5cad4a,
// #208d45,
// #f0f2eb,
// #a7cb54,
// #0d0d0d;