@import "./variables.scss";

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $rm-white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $rm-primary; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $rm-secondary; 
}

html { 
  background: url('../images/bg-rm.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.justify-content-between {justify-content: space-between!important}
.justify-content-center {justify-content: center !important}
.flex-end{justify-content: flex-end!important;}

.rm-btn{
  background: $rm-primary;
  color: $rm-white;
  border-radius: 50% 10% / 20% 60%;
  transition: 0.5s;

  &:hover{
    background: radial-gradient(
      circle at 50% 50%,
      #5cad4a,
      #208d45,
      #a7cb54,
      #0d0d0d
    );
  color: $rm-black;
  }
}

.q-layout__section--marginal {
  background-color:$rm-primary;
  color: $rm-white;
}

.q-drawer--left.q-drawer--bordered {
  border-right: 1px solid rgba(167, 203, 84, 0.80)!important;
}

.bg-menu {
  background-color:$rm-black;
}
.menu-title{
  font-family: $font-title;
  font-size: 20px;
  color: $rm-primary
}

.header-title{
  font-family: $font-title;
}

.menu-item{
 color: $rm-white;
 font-family: $font-title;
 font-size: 22px;

 svg{
  fill: $rm-white;
 }
}

.q-item.q-router-link--active, .q-item--active {
  color: $rm-primary;
  svg{
    fill: $rm-primary;
   }
}

.rm-card{
  .absolute-bottom {
    .name {
      font-family: $font-text;
    }
    .status{
      font-family: $font-text;
    }
  }  
}